name: Test rules

permissions:
  contents: read

on:
  workflow_dispatch:
  pull_request:
  push:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.1'
    - name: Checkout
      uses: actions/checkout@v3
    - name: Test
      run: php tests/Test.php
